<div class="container">
  <form #form="ngForm" (ngSubmit)="salverPessoa(form) " autocapitalize="false">
  <p-card header="">
    <ng-template pTemplate="header">
      <img alt="Card" src="assets/img/PALPITE COPA.png" width="1140" />
    </ng-template>
    <div class="grid p-fluid">
      <div class="col-12 md:col-6 p-fluid">
        <input type="text" pInputText placeholder="Nome"  name="nome" #nome="ngModel" required minlength="5" [(ngModel)]="colaborador.nome" />
      </div>
      <div class="col-12 md:col-6 p-fluid">
        <p-inputMask
          placeholder="999.999.999-99"
          mask="999.999.999-99"  name="cpf" #nome="ngModel" [required]="true" minlength="5" [(ngModel)]="colaborador.cpf" ></p-inputMask>
      </div>

      <div class="col-12 md:col-3 p-fluid">
        <img src="assets/img/br.png" alt="" width="60" />
        <p-inputNumber placeholder="Brasil" name="favor" #nome="ngModel" [required]="true" minlength="5" [(ngModel)]="colaborador.favor" > </p-inputNumber>
      </div>

      <div class="col-12">
        <label>Vs</label>

        <div class="col-12 md:col-3 p-fluid">
          <img src="assets/img/servia.png" alt="" width="60" />
          <p-inputNumber placeholder="Sérvia" name="contra" #nome="ngModel" [required]="true" minlength="5" [(ngModel)]="colaborador.contra" ></p-inputNumber>
        </div>
      </div>

      <div class="col-12 md:col-6">
        <button pButton type="submit" label="Enviar" [disabled]="!form.valid" ></button>
      </div>
    </div>
  </p-card>
</form>
</div>
